.about-wrapper{
    width: 96%;
    height: auto;
    margin: auto;
}

.first-row{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    margin: 140px 0 0 0;
    
}

.first-row-text{
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #4B5842;
    height: 100%;
    color: white;
    padding: 0 12px;
    text-align: center;
}

.first-row-img{
    grid-column-start: 2;
    grid-row-start: 1;
    height: 100%;
    margin: 0;
    background-image: url('../assets/unplash-mert-guller-img.webp');
    background-repeat: none;
    background-size: cover;
}
.first-row-img img{
    height: 100%;
}

.second-row{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    justify-content: center;
}

.second-row-title{
    grid-column-start: 1;
    grid-row-start: 2;
    background-color:burlywood;
    height: 100%;
}

.second-row-title h1{
    text-align: center;
    margin-top: 120px;
    font-size: 36px;

}

.second-row-text{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: white;
    padding: 0 12px;
}

.empty-container{
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #C7D59F;
    height: 100%;
}

.third-row{
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 100%;
    
}
/* 
.third-row-img{
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 0;
    background-image: url('../assets/unplash-jed-together.webp');
    background-repeat: none;
    background-size: cover;
} */

.third-row-text{
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #84754b;
    color: white;
    padding: 0 12px;
    text-align: center;
    margin: 0;
}

.third-row-text p{
    margin: 0;
    padding: 12px;
}

@media screen and (max-width: 750px){
    .about-wrapper{
        width: 100%;
    }

    .first-row-img{
        height:200px;
    }

    .second-row{
        grid-template-columns: 15% 70% 15%;
    }

    .second-row-title h1{
        font-size: 28px;
    }
    /* .third-row-img{
        height: 500px;
        background-image: url('../assets/unplash-jed-together.jpeg');
        background-repeat: none;
        background-size: cover;
    } */
}

@media screen and (max-width: 457px){

    .second-row-title{
        font-size: 14px;
    }
    .third-row{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        width: 100%;
    }
    
    .third-row-text{
        grid-column-start: 1;
        grid-row-start: 2;
        background-color: #84754b;
        color: white;
        padding: 0 12px;
    }
    .second-row{
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 1;
        align-items: center;
        justify-content: center;
    }
    .second-row-title{
        display: none;
    }

    .empty-container{
        display: none;
    }
    .second-row-text{
        grid-column-start: 100%;
        grid-row-start: 1;
    }

}