.home {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.home h2 {
    font-size: 26px;
    margin-top: 24px;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.main-image{
    background-image: url(/recycling-bins.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    filter: brightness(85%)
}

.main-image p{
    color: #000000;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 800;
    text-align: center;
}

.home img{
    width: 200px;
    height: auto;
}

.home-quiz-container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
}